#main-container {
    margin: 0 auto;
    text-align: center;
    align-self: center;
    border: 1px solid black;
    padding: 75px 100px;
    width: 600px;
    height: 600px;
}

h1 {
    font-family: "cinzel", serif;
    font-weight: bold;
}
h4 {
    color: #035f9c;
    height: 1px;
    letter-spacing: 1.5px;
}

#main-byui {
    font-family: Gotham, serif;
    margin: 30px 10px;
}

p {
    line-height: 1.2;
    font-family: Sabon, serif;
}

hr {
    height: 1px;
    width: 100%;
}

#left-container {
    text-align: left;
}

#left-container ol li {
    margin: 15px 20px;
}

#paragraph-italics {
    font-style: italic;
    margin: 30px 10px;
}

img {
    width: 25%;
    margin: 20px 10px;
} 