body {
    background-color: #C3D0DB;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.textA {
    font-family: Arial, serif;
}

.textA label, .errorCode {
    font-family: Arial, serif;
    font-size: 14px;
}

.main-container {
    background-color: white;
    height: max-content;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 3px;
    align-items: center;
}

.input-box {
    width: 100%;
    height: 30px;
}

.fname {
    grid-column: 1/2;
    grid-row: 1/2;
}

.lname {
    grid-column: 2/3;
    grid-row: 1/2;
}

.email {
    grid-column: 1/3;
    grid-row: 2/3;
}

.type {
    grid-column: 1/2;
    grid-row: 3/4;
}

.date {
    grid-column: 2/3;
    grid-row: 3/4;
}

#accessCode, #idId {
    grid-column: 1/3;
}

.errorCode {
    margin: 10px 0 0 3px;
}

.hidden {
    display: none;
}

.submit {
    grid-column: 1/3;
    grid-row: 4/5;
    height: 35px;
    width: 101%;
    background-color: #C3D0DB;
}